<h2>コメント一覧</h2>

	<table class="table mt-2">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>コメント内容</th>
				<th>ユーザー名</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.id %></td>
				<td><%= comment.content.truncate(30) %></td>
				<td><%= comment.user.name %></td>
				<td><%= link_to "コメント元の投稿", posts_path(comment.post) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

<%= paginate @comments %>