<!-- 仮おき -->

<h1>welcome</h1>
<%= link_to "全投稿", posts_path %>
<%= link_to "MyPage", user_path(@user) %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

<%= render 'layouts/sidebar' %>


<h3>ユーザー一覧</h3>
<% @users.each do |user| %>
	<%= link_to user.name, user_path(user) %>
<% end %>