<h1>お問い合わせ内容確認</h1>

	<p>名前</p>
    <%= @contact.name %>

	<p>email</p>
	<%= @contact.email %>

    <p>項目</p>
	<%= @contact.category %>

	<p>内容</p>
    <%= @contact.content %>

<%= form_for(@contact, url: contacts_path, method: :post) do |f|  %>
	<%= f.hidden_field :name %>
	<%= f.hidden_field :email %>
	<%= f.hidden_field :category %>
	<%= f.hidden_field :content %>
	<%= f.submit :送信 %>
<% end %>

<%= form_for(@contact, url: contacts_back_path) do |f|  %>
	<%= f.hidden_field :name %>
	<%= f.hidden_field :email %>
	<%= f.hidden_field :category %>
	<%= f.hidden_field :content %>
	<%= f.submit :修正する %>
<% end %>