<div class="row">
<div class="col-8 mx-auto mt-4">

	<div class="card">
	<div class="card-body p-5">

		<h3 class="pb-2 card-title">お問い合わせフォーム</h3>

  		<%= form_for(@contact, url: contacts_confirm_path) do |f|  %>
  			<div class="form-group">
				<%= f.label :名前, class: "form-label" %>
    			<%= f.text_field :name, class: "form-control" %>
    		</div>
  			<div class="form-group">
				<%= f.label :email, class: "form-label" %>
    			<%= f.text_field :email, class: "form-control" %>
			</div>
  			<div class="form-group">
 				<%= f.label :内容, class: "form-label" %><br>

		    	<%= f.radio_button :category, :サービスについて, checked: true %>
				<%= f.label :サービスについて, class: "form-label mr-2" %>
		    	<%= f.radio_button :category, :要望 %>
				<%= f.label :要望, class: "form-label mr-2" %>
		    	<%= f.radio_button :content, class: "form-control" %>
				<%= f.label :その他, class: "form-label" %>

		    	<%= f.text_area :content, size: "10x5", class: "form-control" %>
		  	</div>
		  	<div class="form-group pt-4">
				<%= f.submit :確認画面へ進む, class: "btn btn-md btn-primary btn-block" %>
			</div>
		<% end %>

	</div>
	</div>
</div>
</div>