<div class="row">
		<h1 class="my-4">投稿一覧</h1>
</div>

<div class="h3 mt-4">投稿紹介</div>
  <div class="row">
    <div class="swiper-container post-image-slide">
        <div class="swiper-wrapper">
            <% Post.includes(:post_images).order("RAND()").limit(5).each do |post| %>
              <div class="swiper-slide">
                <div class="card py-3 m-2">
                  <% if post.post_images.present? %>
                  	<%= link_to post_path(post) do %>
                    	<% post.post_images.first(1).each do |image| %>
                        <div class="image-trim">
                      		<%= attachment_image_tag image, :image, class: "card-image-top img-fluid card-img-hover" %>
                        </div>
                    	<% end %>
                    <% end %>
                  <% else %>
                    <%= link_to post_path(post) do %>
                        <div class="image-trim">
                    	<%= image_tag "no_image.jpg", class: "card-image-top img-fluid card-img-hover" %>
                    </div>
                  	<% end %>
                  <% end %>
                    <div class="card-body">
                      <h4 class="card-title text-truncate"><small><%= post.title %></small></h4>
                      <p class="card-text small_line_wrap">
                          <small><%= post.body %></small>
                      </p>
                    </div>
                    <div class="card-subtitle">
                       <i class="fas fa-heart text-danger ml-3"></i>
                        <%= post.favorites.count %>
                      <i class="far fa-comments ml-1"></i>
                        <%= post.comments.count %>
                      <%= link_to "表示", post_path(post), class: "btn btn-outline-dark btn-sm float-right mr-2 mb-2" %>
                    </div>
                </div>
              </div>
            <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev text-light"></div>
        <div class="swiper-button-next text-light"></div>
    </div>
  </div>

<div class="row mt-4">
  <div class="col-9">
      <% @posts.each do |post| %>
        <div class="row mt-3">
          <div class="col-2">
            <div class="card">
              <%= link_to user_path(post.user) do %>
                <div class="">
                  <%= attachment_image_tag(post.user, :image, fallback: "no_image.jpg", class: "card-img-top") %>
                </div>
                <p class="card-text text-center text-dark py-1"><%= post.user.name %></p>
              <% end %>
            </div>
          </div>
          <div class="col-10">
            <div class="card">
              <h5 class="card-header"><%= post.title %><span class="float-right"><small>投稿日:<%= post.created_at.strftime('%Y/%m/%d') %></small></span></h5>
              <div class="card-body">
                  <p class="card-text small_line_wrap"><%= post.body %></p>
                  <div class="d-flex justify-content-end">
                    <div class="pt-1 mr-2">
                      <i class="fas fa-heart text-danger"></i>
                        <%= post.favorites.count %>
                      <i class="far fa-comments ml-1"></i>
                        <%= post.comments.count %>
                    </div>
                    <%= link_to "全文表示", post_path(post), class: "btn btn-outline-dark btn-sm" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <div class="d-flex justify-content-center mt-3"><%= paginate @posts %></div>
  </div>
  <div class="col-3">
<%= render 'layouts/sidebar' %>

  </div>


</div>