<h1>投稿一覧</h1>

	<table>
		<thead>
			<tr>
				<th>ユーザー</th>
				<th>タイトル</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td><%= post.user.name %></td>
				<td><%= post.title %></td>
				<td>いいね <%= post.favorites.count %>件</td>
				<td><%= link_to "詳細", post_path(post) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

<%= render 'layouts/sidebar' %>

<%= paginate @posts %>