<h1>新規投稿</h1>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :body %>
	<%= f.text_area :body %>

	<%= f.collection_select :goal_id, Goal.all, :id, :name %>

	<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

	<%= f.attachment_field :post_images_images, multiple: true, direct: true, presigned: true %>

	<%= f.submit %>

<% end %>
