<div class="row">
  	<div class="col-9">

<h1 class="mt-4">新規投稿</h1>

<%= render 'layouts/error', model: @post %>

<%= form_for @post do |f| %>
	<div class="form-group">
		<%= f.label :title, class: "form-label" %>
		<%= f.text_field :title, class: "form-control" %>
		<div class="invalid-feedback">必須</div>
	</div>
	<div class="form-group form-row">
		<%= f.label :目標, class: "form-label" %>
		<%= f.collection_select :goal_id, Goal.all, :id, :name,
        {prompt: "選択してください"}, {class: "form-control"} %>
        		<div class="invalid-feedback">必須</div>

	</div>
	<div class="form-group">
		<%= f.label :body, class: "form-label" %>
		<%= f.text_area :body, class: "form-control", rows: 20 %>
				<div class="invalid-feedback">必須</div>

	</div>
	<div class="form-inline">
		<%= f.label :タグ, class: "form-label" %>: 
		<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name,
        {prompt: ""}, {class: "form-check-input form-check-label ml-2"} %>
	</div>
	<div class="form-group mt-3">
		<%= f.attachment_field :post_images_images, multiple: true, direct: true, presigned: true %>
	</div>
	<div class="form-group">
		<%= f.submit "投稿", class: "btn btn-primary" %>
	</div>
<% end %>
