<div class="row">
		<h1 class="my-4">SDGsとは</h1>
		<p>持続可能な開発目標（SDGs）とは，2001年に策定されたミレニアム開発目標（MDGs）の後継として，2015年9月の国連サミットで採択された「持続可能な開発のための2030アジェンダ」にて記載された2030年までに持続可能でよりよい世界を目指す国際目標です。17のゴール・169のターゲットから構成され，地球上の「誰一人取り残さない（leave no one behind）」ことを誓っています。 SDGsは発展途上国のみならず，先進国自身が取り組むユニバーサル（普遍的）なものであり，日本としても積極的に取り組んでいます。<br>
		出典：外務省HP(https://www.mofa.go.jp/mofaj/gaiko/oda/sdgs/about/index.html)
		</p>
</div>
<h4 class="mt-3">17の目標</h4>

<div class="row mt-3">
	<% @goals.each do |goal| %>
		<div class="m-2">
			<%= link_to "#scroll_#{goal.id}" do %>
				<%= image_tag "sdgs_icon_#{goal.id}.png", :size => '140x140' %>
			<% end %>
		</div>
	<% end %>
</div>

<div class="row mt-5">
	<div class="col-md-3">
		<div class="sidebar_fixed">
			<ul class="list-group">
				<li class="list-group-item bg-secondary text-white">Goals</li>
				<% @goals.each do |goal| %>
					<li class="list-group-item">
						<%= link_to "#scroll_#{goal.id}" do %>
							<small><%= goal.name %></small>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<% @goals.each do |goal| %>
			<div id="scroll_<%= goal.id %>">
				<div class="card mt-4">
					<div class="media">
	  					<%= image_tag "sdgs_icon_#{goal.id}.png", :size => '170x170', class: "d-flex mr-3" %>
	  					<div class="media-body pb-1 pr-2">
	    					<h5 class="pt-1"><%= goal.name %></h5>
			    			<div class="line_wrap pr-1"><%= goal.content %></div>
		  					<%= link_to "詳細", goal_path(goal), class: "btn btn-outline-secondary align-self-end float-right mr-3" %>
  						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
