<nav class="navbar text-dark">
	<ul class="navbar-nav">
      <li class="nav-item">
      	<%= link_to "ユーザー一覧", admins_users_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
      	<%= link_to "投稿一覧", admins_posts_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
      	<%= link_to "コメント一覧", admins_comments_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
      	<%= link_to "問い合わせ一覧", admins_contacts_path, class: "nav-link text-dark" %>
      </li>
      <li class="nav-item">
      	<%= link_to "タグ管理", admins_tags_path, class: "nav-link text-dark" %>
      </li>
	</ul>
</nav>