	<div class="card">
    <div class="card-body p-5">

		<h3 class="pb-2 card-title">お問い合わせ内容確認</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<p>問い合わせ日</p>
					<%= @contact.created_at.strftime('%Y/%m/%d') %>
				</li>
				<li class="list-group-item">
					<p>名前</p>
					    <%= @contact.name %>
				</li>
				<li class="list-group-item">
					<p>Email</p>
					<%= @contact.email %>
				</li>
				<li class="list-group-item">
					<p>項目</p>
					<%= @contact.category %>
				</li>
				<li class="list-group-item">
					<p>内容</p>
				    <%= @contact.content %>
				</li>
			</ul>

	</div>
	</div>

<%= link_to "戻る", :back, class: "btn btn-outline-secondary m-3" %>