<h1>検索結果</h1>

<% if @range == "user" %>

	<h2>ユーザー一覧</h2>

		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>ユーザー名</th>
					<th>所属</th>
					<th>登録日</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.affiliation %></td>
					<td><%= user.created_at.strftime('%Y/%m/%d') %></td>
					<td><%= link_to "詳細", admins_user_path(user), class: "btn btn-outline-secondary" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	<%= paginate @users %>

<% elsif @range == "post" %>

	<h2>投稿一覧</h2>

		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th>投稿ID</th>
					<th>タイトル</th>
					<th>ユーザー</th>
					<th>お気に入り数</th>
					<th>コメント数</th>
					<th>投稿日</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
				<tr>
					<td><%= post.id %></td>
					<td><%= post.title.truncate(10) %></td>
					<td><%= post.user.name %></td>
					<td><%= post.favorites.count %>件</td>
					<td><%= post.comments.count %>件</td>
					<td><%= post.created_at.strftime('%Y/%m/%d') %></td>
					<td><%= link_to "詳細", post_path(post), class: "btn btn-outline-secondary" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	<%= paginate @posts %>

<% else %>

	<h2>コメント一覧</h2>

		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>コメント内容</th>
					<th>ユーザー名</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @comments.each do |comment| %>
				<tr>
					<td><%= comment.id %></td>
					<td><%= comment.content.truncate(30) %></td>
					<td><%= comment.user.name %></td>
					<td><%= link_to "コメント元の投稿", posts_path(comment.post) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	<%= paginate @comments %>

<% end %>