<div class="row">
<div class="col-7 mx-auto mt-2">

  <div class="card">
    <div class="card-body p-5">

    <h3 class="pb-2 card-title">ユーザー編集</h3>

      <%= form_for @user do |f| %>
      <div class="form-group">
        <%= attachment_image_tag @user, :image, class: "img-square", fallback: "no_image.jpg", onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
        <%= f.attachment_field :image, class: 'img_field', style: 'display:none;' %>
      </div>
      <p>画像クリックで変更</p>

      <div class="form-group">
      	<%= f.label :名前, class: "form-label" %>
      	<%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
      	<%= f.label :プロフィール, class: "form-label" %>
      	<%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :所属, class: "form-label" %><br>
          <%= f.radio_button :affiliation, :individual, checked: true, class: "d-inline-block" %>
          <%= f.label :affiliation, "個人", class: "form-label", value: :individual %>
          <%= f.radio_button :affiliation, :company, class: "d-inline-block ml-2" %>
          <%= f.label :affiliation, "企業", class: "form-label", value: :company %>
          <%= f.radio_button :affiliation, :npo, class: "d-inline-block ml-2" %>
          <%= f.label :affiliation, "NPO", class: "form-label", value: :npo %>
          <%= f.radio_button :affiliation, :other, class: "d-inline-block ml-2" %>
          <%= f.label :affiliation, "その他団体", class: "form-label", value: :other %>
      </div>
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary btn-block" %>
      <% end %>

      <%= link_to "戻る", user_path(@user), class: "btn btn-secondary btn-block mt-2" %>
      <%= link_to "退会", user_withdraw_path(@user), class: "btn btn-danger mt-4",method: :delete, data: { confirm: '退会すると過去の投稿が削除されますがよろしいですか?' } %>

    </div>
  </div>

</div>
</div>