<div class="row">

	<div class="col-3">
		<%= render 'public/users/mypage_side', user: @user  %>
	</div>

	<div class="col-9">
		<h3>フォローユーザー</h3>
			<% @follow_users.each do |follow_user| %>
				<div class="row mt-3">
					<div class="col-2">
						<div class="card">
							<%= link_to user_path(follow_user) do %>
								<%= attachment_image_tag(follow_user, :image, fallback: "no_image.jpg", class: "card-img-top") %>
								<p class="card-text text-center text-dark py-1"><%= follow_user.name %></p>
							<% end %>
						</div>
					</div>
					<div class="col-10">
						<div class="card">
				 			<div class="card-body">
				    			<p class="card-text">
				    				<% if  follow_user.introduction.present? %>
				    					<%= follow_user.introduction.truncate(50) %>
				    				<% end %>
				    			</p>
								<%= link_to "フォロー解除", user_relationship_path(id: @user.relationships.find_by(follow_id: follow_user.id), user_id: follow_user.id), method: :delete, class: "btn btn-outline-danger btn-sm float-right" %>
								<%= link_to "表示", user_path(follow_user), class: "btn btn-outline-dark btn-sm float-right mr-2" %>
				  			</div>
				  		</div>
			  		</div>
			  	</div>
			<% end %>
	</div>

</div>