<h1>my page</h1>

<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100') %>

<p>ユーザー名</p>
<%= @user.name %>

<p>プロフィール</p>
<%= @user.introduction %>

<p>所属</p>
<%= @user.category %>

<%= link_to "編集", edit_user_path(@user) %>


<%= link_to "投稿", new_post_path %>

<p>お気に入り投稿</p>
<% @fav_posts.each do |fav_post| %>
	<%= fav_post.title %>
<% end %>

<% if current_user != @user %>
	<% if current_user.following?(@user) %>
		<%= link_to "unfollow", user_relationship_path(@user), method: :delete %>
	<% else %>
		<%= link_to "follow", user_relationships_path(@user), method: :post %>
	<% end %>
<% end %>

<p>フォローユーザー</p>
<% @follow_users.each do |follow_user| %>
	<%= follow_user.name %>
<% end %>

<p>投稿一覧</p>
	<table>
		<thead>
			<tr>
				<th>タイトル</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= link_to "詳細", post_path(post) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% if @user == current_user %>
	<%= link_to "退会", user_withdraw_path(@user), method: :delete %>
<% end %>