<!DOCTYPE html>
<html>
  <head>
    <title>Sdgs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <p>ログインユーザー：<%= current_user.name %></p>
      <%= link_to "MyPage", user_path(@user) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "top", top_path %>
        <%= link_to "問い合わせ", new_contacts_path %>
      <% elsif admin_signed_in?  %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <!-- 検索機能 -->
         <%= form_tag(admins_search_path, method: :get) do %>
          <%= text_field_tag :word %>
          <%= select_tag 'range', options_for_select([["ユーザー", "user"], ["投稿", "post"], ["コメント", "comment"]]) %>
          <%= submit_tag "検索" %>
        <% end %>
        <!--  -->
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "問い合わせ", new_contacts_path %>

      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
